body{
    background-color: #c0392b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#top{
	text-align: center;
}

.container {
    background-color: white;
    min-width: 50%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.23), 0 9px 9px rgba(0,0,0,0.25);
    width: 60%;
    padding: 30px;
    margin: auto auto auto auto;
    border-radius: 15px;
}

.follows {
	text-decoration: underline;
}

hr {
	border: 0;
    border-color: #c0392b;
}

h2 {
	color: #c0392b
}