ion-toolbar {
    --background: #c0392b;
    --color: white;
}

ion-content {
    --background: #e5e5e5;
}

ion-card-content {
    overflow: scroll;
    white-space: pre-wrap;
}

ion-card {
    width: 90%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-button {
    --background: #c0392b;
}

.centerText {
    text-align: center;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:300px;
}

.centerButton{
    display:flex;
    justify-content:center;
}

.projectIcon {
    float:right; 
    margin-top: 15px; 
    margin-right: 15px
}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h2 {
    font-weight: bold !important;
}